body {
    position: relative;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #A1A4AC;
    font-weight: 400;
    background: #FFFFFF;

}


/* აქ ყველა ელემენტს და before = after გავუწერე reset.css ზოგიერთი სტილი  */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

/*************** HEADER *****************/
.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 60px 0;

    z-index: 9999;

    transition: all .2s;
}
.header.fixed{
    padding: 15px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #1C1F28;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

}

.menu_list {
    list-style: none;
    display: flex;
}

.menu_list-item {
    position: relative;

    margin: 0 20px;
    display: flex;
    align-items: center;

}

.menu_list-link {
    position: relative;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu_list-link::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #fff;
    height: 2px;
    width: 0;
    transition: all .3s;
}

.menu_list-link:hover::after {
    width: 100%;
}

.menu_list-img {
    margin-left: 4px;
    transition: all .3s;
}

/**********DROPDOWN ***********/

.menu-dropdown {
    position: absolute;

    top: 120%;
    left: -10px;
    right: -10px;
    padding: 0 10px;
    transition: all .5s;

    list-style: none;
    background: black;
    opacity: 0;
    visibility: hidden;
}

.menu_list-item:hover .menu-dropdown {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.menu_list-item:hover .menu_list-img {
    transform: rotate(180deg)
}

.menu-dropdown_item {
    margin: 10px 0;
}

.menu-dropdown_link {
    position: relative;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu-dropdown_link::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #fff;
    height: 2px;
    width: 0;
    transition: all .5s;
}

.menu-dropdown_link:hover::after {
    width: 100%;
}

/******END DROPDOWN *******/


.header_button {
    margin-left: 20px;
}

.header_button-link {
    padding: 10px 30px;

    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;

    background: #14B45C;
    border: 1px solid #14B45C;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    transition: all .3s;
}

.header_button-link:hover {
    color: #14B45C;
    background: transparent;
}

/************** END HEADER ***************/

/*************** INRTO *****************/

.intro {
    position: relative;
    padding: 190px 0 140px 120px;
}

.intro_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.intro_bg-img {
    max-width: 100%;
    height: auto;
}


.intro_inner {
    display: flex;
    z-index: 2;

}

.intro_img {
    position: relative;
    z-index: 4;
}

.intro_img-item {

}

.intro_img2 {
    position: absolute;
    top: 290px;
    left: 50px;

    z-index: 3;

}

.intro_image-item2 {
}

.intro_content {
    margin: 160px 0 0 54px;
    max-width: 494px;
}

.intro_content-title {
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.intro_content-text {
    margin: 30px 0 40px;

    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #A1A4AC;
}

.intro_content-links {
    display: flex;
    align-items: center;
}

.intro_content-links-download {
    padding: 16px 31px;

    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;

    background: #14B45C;
    border: 1px solid #14B45C;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    transition: all .3s;
}

.intro_content-links-download:hover {
    color: #14B45C;
    background: transparent;
}

.intro_contnet-links-watch {
    margin-left: 30px;
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}

.intro_contnet-links-watch img {
    margin-right: 10px;
    transition: all .4s;
}

.intro_contnet-links-watch:hover img {
    transform: translateY(-10px);
}


/**************** Ever need Section*************/

.everneed {
    padding: 30px 0 0 165px;
}

.everneed_title {
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #1C1F28;
}

.everneed_items {
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
}

.everneed_item {
    max-width: 320px;
    text-align: center;
}

.everneed_items-title {
    margin: 43px 0 24px;
    /*m43-0-24 ასე ჩაწერ უცებ მერჯინებს, ზემოდან,მარცმარჯ და ქვევით m5-10-20-54 იგივე ოთხივეს უთითებ*/
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1C1F28;
}

.everneed_items-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #A1A4AC;
}

/*****************EVERNEEDD/END*/

/******************FEATURES************/

.features {
    position: relative;
    padding: 135px 0 183px;
}

.features_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.features_bg-img {
    max-width: 100%;
    height: auto;
}

.features_row {
    display: flex;
    justify-content: space-between;
}

.features_item {
    margin-top: 80px;
    padding: 40px 60px 35px 40px;
    /*when max-width ვიყენებთ,როცა ეკრანი პატარავდება ცდება 420px_ელს,ჩარჩოს დაიკლებს,მაგრამ დაიკლდება სიგანეში და პრობლემას შემქნიდა*/
    max-width: 420px;

    background: #FFFFFF;
    border-radius: 15px;
}


.features_item:hover {
    box-shadow: 0px 10px 50px rgba(7, 42, 68, 0.04);
    transition: all 0.3;
}

.features_item-inner {
    opacity: 0.6;
    transition: all 0.3;
}

.features_item:hover .features_item-inner {
    opacity: 1;
}

.features_item-img {
    width: 60px;
    height: 60px;
    /*rgb გამოყენება- ფერი თუ გაქ დიზაინში იღებ #_ის ფერს აწვები და rgb გადაგყავ წერ და მეოთხე მნიშვნელობაში ანიჭებ გამჭირვალობას
    თუ რამეს ეფარება, lo va day#3 19:30*/
    background: rgb(161, 163, 171, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3;
}


.features_item:hover .features_item-img {
    background: rgb(20, 180, 92, 0.1);
}

/*რატო ვუწერ .feature_item:hover, როცა პირდაპირ შემილია მივმართო .feature_item-img svg - ერთ დივშია და იმ დივს
როცა შევეხები სურათიც იმოქმედებს პირდაპი, თუ მხოლოდ  .features_item-img svg ამას გავუწერ, სანამ ამ სურათთან
არ მივალ არ იმოქმდებს*/
.features_item-img svg {
    transition: all 0.3;
}

.features_item:hover .features_item-img svg {
    /*როცა svg შემოგვაქ ფერს fill_ით ვუთითებთ, თუ სადემ svg ფაილში სხვაგან არაა გაწერილი სხვა fill პარამეტრი 
    იმუშავეს. LO VA day3 25:50*/
    fill: #14B45C;
}

.features_item-title {
    margin-bottom: 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #1C1F28;
}

.features_item-text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #7A7C82;
}

.features_link {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.features_link-item {
    padding: 16px 45px;

    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;


    background: #14B45C;
    border: 1px solid #14B45C;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    transition: all .3s;
}

.features_link-item:hover {
    color: #14B45C;
    background: transparent;
}

/***************BUSINESS************/

.business {
    position: relative;
    padding: 270px 0 140px;
}

.business_oval {
    position: absolute;
}

.business_oval---green {
    top: -55px;
    left: 0;
}

.business_oval---black {
    bottom: -350px;
    right: 0;
}

.business_inner {}

.business_title {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    text-align: center;

    color: #1C1F28;
}

.business_title-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #7A7C82;
    margin-top: 10px;
}

.business_items {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.business_item {
    max-width: 420px;
    text-align: center;
}

.business_item-img {
    max-height: 160px;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

..business_item-img img {
    width: 100%;

}

.business_item-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1C1F28;
    margin-top: 30px;
}

.business_item-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #A1A4AC;
    padding: 10px 60px 30px 60px;
}

.business_link {
    text-align: center;
}

.business_link-item {
    padding: 16px 58px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1C1F28;
    margin-top: 60px;
    border: 1px solid #1C1F28;
    border-radius: 16px;
    text-decoration: none;

    transition: all .3s;

}

.business_link-item:hover {
    background-color: #1C1F28;
    color: #fff;
}

/***************REVIEW************/

.reviews {
    padding: 140px 0 280px;
}

.reviews_title {
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #1C1F28;
}

.reviews_slider {
    position: relative;
    margin-top: 55px;
}

.reviews_slider .slick-slide {
    display: flex;
}

.reviews_slider .slick-arrow {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;

    font-size: 0;
    color: transparent;

    border: none;
    border-radius: 50%;

    cursor: pointer;
    z-index: 999;
    box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.06);
    transition: all .3s;
}

.reviews_slider .slick-arrow:hover {
    box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.26);
}

.reviews_slider .slick-prev {
    top: 50%;
    left: 0;
    background: url(../images/arrowleft.png) no-repeat center;
    transform: translateY(-100%);
}

.reviews_slider .slick-next {
    right: 0;
    top: 50%;
    background: url(../images/arrow-right.png) no-repeat center;
    transform: translateY(-100%);
}

.review_slide {
    padding: 0 255px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.review_slide-text {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #A1A4AC;
}

.reviews_slide-info {
    display: flex;
    margin-top: 40px;
}

/*ორი ერთნაირი მქონდა,ერთზე მინდოდა გამეწერა მეორეზე არა, ამ მეთოდით მეორეს მივწვდი lova #4 51:00*/
.reviews_slide-col+.reviews_slide-col {
    margin-left: 30px;
}

.reviews_slide-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.reviews_slide-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;

    overflow: hidden;
}

.reviews_slide-img img {
    width: 100%;
    height: 100%;
}

.reviews_slide-author {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #323643;

}

.reviews_slide-rating {
    margin-top: 17px;
    display: flex;
}

.reviews_slide-rating img {
    margin-right: 9px;
}

/**********************FOOTER******************/
.footer {
    position: relative;
    padding: 110px 0 80px;
}

.footer_bg {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.footer_bg-img {
    max-width: 100%;
    height: auto;
}

.footer_app {
    position: relative;
    padding: 92px 310px;
    background: white;

    max-width: 1140px;
    margin: -220px auto 0;
    border-radius: 15px;
    box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.06);
    /*გადმოშვერილი იყო მწვანე ხაზი, ოვერფლოუმ გაასწორა*/
    overflow: hidden;


}

/*მწვანე ხაზი გავაკეთე befor_ით*/
.footer_app::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 4px;
    background: #14B45C;
}

.footer_app-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #1C1F28;
    text-align: center;
}

.footer_app-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #A1A4AC;

    margin: 20px 0 30px;
}

.footer_app-links {
    display: flex;
    justify-content: center;
}

.footer_app-link {
    text-decoration: none;
}

.footer_app-link img {
    transition: all 0.3s;
}

.footer_app-link:hover img {
    transform: scale(1.1);
}

.footer_app-link:first-child {
    margin-right: 15px;
}

.footer_logo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.footer_logo-link-img {
    transition: all 1s;
}

/*შემოვიტანეთ svg ფოტო, შიგნით გავუწერეთ ორი კლასი და ჰოვერი მივეცით*/
.footer_logo-link:hover .footer_logo-link-img--1 {
    transform: rotate(90deg);
}

.footer_logo-link:hover .footer_logo-link-img--2 {
    transform: rotate(360deg);
}

.footer_nav {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.footer_nav-col {
    display: flex;
    flex-direction: column;
}
.footer_nav-title {
    margin-bottom: 10px;
    font-weight: 600px;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.footer_nav-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.9;
    text-decoration: none;
    margin-top: 20px;
}
.footer_nav-link:hover{
    text-decoration: underline;
}

.footer_copy{
    margin-top: 100px;
    /* margin-left: -60px;
    margin-right: -60px; */
    display: flex;
    justify-content: space-between;
}

.footer_copy-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.footer_copy-socials{
    display: flex;
}
.footer_copy-socials-link{
    margin-left: 20px;
    text-decoration: none;
    transition: all .3s;
}
.footer_copy-socials-link:hover{
    transform: translateY(-10px);
}

.footer_copy-socials-link:first-child{
    margin-left: 0;
}